nav .navbar-brand .yellow
{
    color: #ffd573;
}
nav .navbar-brand .green
{
    color: #52ff83;
}

nav .navbar-brand .white
{
    color: #eeeeee;
}

.nav-link{
    color: #eeeeee;
}

.nav-link:hover{
    color: #acacac;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    text-align: center;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}