{% extends "layout.html" %}

{% block title %}
    Heart Rate
{% endblock %}

{% block main %}
    <form action="/heart-rate" method="get">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="date" type="date" value="{{ date }}"">
        </div>
        <button class="btn btn-primary" type="submit">Display</button>
    </form>
    {{ day_fig|safe }}
    {{ week_fig|safe }}
    {% if data_exists %}
        <form action="/heart-rate" method="post">
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="thresh" type="number" 
                placeholder="Threshold (Default: 5)" min=1>
            </div>
            <button class="btn btn-primary" type="submit">Generate Anomaly Report</button>
        </form>
    {% endif %}
    <br>
    {% if tables %}
        <p>Anomaly Threshold: {{ thresh }}</p>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    {% endif %}
{% endblock %}