{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <p>Hello, {{ username }}</p>
    <form action="/profile" method="post">
        <p>Step Goal</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="step" 
            placeholder="{{ step_goal }}" value="{{ step_goal }}" type="number" min=0>
        </div>
        <p>Sleep Goal</p>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="sleep" 
            placeholder="{{ sleep_goal }}" value="{{ sleep_goal }}" type="number" min=0 step=0.1>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}